# Files Ignored

src/main/logo.ico
src/main/logo.png

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Java
##############################
.mtj.tmp/
*.class
#*.jar
*.war
*.ear
*.nar
hs_err_pid*